import(rJava)
export(srs.close)
export(spectrum.flush)
export(get.bench)
export(get.boxcar.width)
export(get.correct.for.detector.nonlineary)
export(get.correct.for.electrical.dark)
export(get.correct.for.stray.light)
export(get.detector)
export(get.feature.controller.board.temperature)
export(get.feature.detector.board.temperature)
export(get.feature.pixel.binning)
export(get.spectrum)
export(init.srs)
export(is.feature.supported.controller.board.temperature)
export(is.feature.supported.detector.temperature)
export(is.feature.supported.pixel.binning)
export(is.saturated)
export(is.spectrum.valid)
export(is.timeout)
export(number.srs)
export(set.boxcar.width)
export(set.correct.for.detector.nonlinearity)
export(set.correct.for.electrical.dark)
export(set.integration.time)
export(set.scans.to.avg)
export(set.timeout)
